
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.productCard{
  border-radius: 10px;
  width: 300px;
  margin: 30px;
  box-shadow: 1px 1px 5px white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 18px;
  border: 1px solid grey;
  box-shadow: 1px 1px 10px grey;
  cursor: pointer;


  p,span{
    display: inline;
   
  }
}

.easy{
  font-family: Pacifico;
  font-size: 40px;
  color: red;
  margin-bottom: -50px;
  text-shadow: 1px 3px 3px black;
  cursor: pointer;
}

.buy{
  font-family: Pacifico;
  font-size: 40px;
  color: Blue;
  text-shadow: 1px 3px 3px black;
  cursor: pointer;
 
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin-top: 20px;
}

  .input{
    border: 0.5px grey solid;
    display: flex;
    border-radius: 20px;
    padding-left: 10px;
    width: 600px;
    height:50px;

    input{
      width: 500px;
      border: none;
      font-size: 18px;
      color: rgb(0, 0, 0);
      background-color: rgb(180, 179, 179);
    }
  }

  img{
    width:30px;
    margin-right: 20px;
    cursor: pointer;

    /* margin: 5px 10px; */
  }


.ham{
  display: none;
}

@media (max-width: 768px) {
  .ham{
    display: block;
    
  }
  .cart{
    display: none;
  }
  .header {
    /* display: flex; */
    padding: 0px 20px;
  }
  .logo{
    text-align: center;
    margin-bottom: 20px;
  }
  .input{
    display:none;
    input{
      width: 100px;
    }
  }
  .productCard{
    width: 280px;

    img{
      margin-top: 10px;
      width: 80%;
    }
  }
}